Q1. Define each data type, and give an example.

In [2]:
type (30)

int

In [6]:
type (35.23)

float

In [7]:
type("40")

str

Q2. What data type is each value? Use the type function to verify.

In [4]:
type(3)

int

In [5]:
type(6.0)

float

In [8]:
type("3.14159")

str

In [9]:
type(4.5)

float

In [10]:
type ('hello')

str

In [11]:
type ('math.pi')

str

3. Use the type function to identify the data type of each result. Are there any that do not work?

In [12]:
type(3+7)

int

In [13]:
type(6/3.0)

float

In [14]:
type(5+6.0)

float

In [26]:
type(6.0//3.0)

2.0

In [27]:
type(6//3.0)

float

In [28]:
type(6//3)

int

In [23]:
(6/3)

2.0

In [29]:
("py"+"thon")

'python'

In [30]:
type('py'+"thon")

str

In [33]:
type("High" + 5) # the 5 is not a string

TypeError: can only concatenate str (not "int") to str

## Variables 
4.Which variable names are acceptable, and which are not? If a variable name is unacceptable,
explain why.

In [56]:
num= "num1"

In [57]:
num

'num1'

In [58]:
_count= "_count1"

In [59]:
_count

'_count1'

In [60]:
card_2="card 21"

In [61]:
card_2

'card 21'

In [62]:
AGE="AGEd"

In [63]:
AGE

'AGEd'

In [66]:
2nd_card="2nd_card1" # because the variable name start with nos

SyntaxError: invalid decimal literal (3912855415.py, line 1)

In [70]:
lambda ="lambda" #i think lambda is a funtion in python

SyntaxError: invalid syntax (3976974546.py, line 1)

In [71]:
FiRsTnAmE="FiRsTnAmE1"

In [72]:
FiRsTnAmE

'FiRsTnAmE1'

In [73]:
card_2= "card_21"

In [74]:
card_2

'card_21'

5. Choose a meaningful variable name to represent each scenario.

In [75]:
Ace= 21

In [76]:
Ace

21

In [77]:
emp_sal= 125000

In [78]:
emp_sal

125000

In [79]:
dices= 5+2

In [80]:
dices

7

In [84]:
temp="35c"

In [85]:
temp

'35c'

In [ ]:
6. Assign the values x="house", y="boat" and z="ha". What is the result of each statement? Which
do not work, and why?

In [86]:
x, y, z ="house","boat","ha"

In [87]:
x+y

'houseboat'

In [88]:
y+x

'boathouse'

In [89]:
z*3

'hahaha'

In [90]:
z*x #cant multiply two string

TypeError: can't multiply sequence by non-int of type 'str'

In [91]:
y+"2"

'boat2'

7. Assign the values base=10 and height=5. Calculate the area of a triangle using the formula

In [114]:
b, h, Area = 10, 5, 0

In [115]:
Area+=(1/2)*(b*h)

In [157]:
Area

25.0

8. Execute the following sequence of commands in the shell, then state the final value of k.

In [140]:
k=7

In [141]:
k

7

In [142]:
k+=3

In [143]:
k

10

In [144]:
k*=2

In [145]:
k

20

In [146]:
k-=5

In [147]:
k

15

In [148]:
k//=6

In [149]:
k

2

9. Explain why the following run-time error occurs.

In [150]:
>>> number=8

In [158]:
>>> Number +=1 # the 'Number' is not defined

NameError: name 'Number' is not defined

10. Python is a dynamically-typed language: a variable’s data type can change as necessary. Assign the
value x=4, then use check its type using the type function. What data type is it? Increment x by 1,
using the += operator, then check its type again. Did it change? If so, what data type is it?
Increment x by 1.0, then check its type. Did it change? If so, what data type is it?

In [151]:
x=4

In [152]:
type(x)

int

In [153]:
x+=1

In [154]:
type(x)

int

In [155]:
x+=1.0

In [156]:
type(x)

float